/* all */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* multiple */

main {
  color: #383e45;
  font-size: 0.9rem;
}
.contentWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.sectionWapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: solid 1px #383e45;
}

.innerName {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* header */

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#headerLogo {
  width: 120px;
  padding: 10px 0;
}

#headerMenuItems {
  display: flex;
  padding: 10px 0;
}

#headerMenuItems li {
  margin-left: 30px;
}

/* main image */

#mainImage {
  /* 無限に大きくし画像表示範囲が 崩れるのを防止 */
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/* about */

#aboutContentWapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

#aboutImage {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/* 文言が非常に長い場合でも読みやすいように */
#aboutText {
  max-width: 600px;
}

/* bicycle */

#bicycleCardList {
  display: flex;
  gap: 30px;
}

#bicycleCardList li {
  flex: 1;
}
